<div>
    <span class="cart-btn" (click)="openCart()">
        <i class="fas fa-shopping-cart"></i>
    </span>
</div>

<div id="cart" class="cart">
    <span class="closebtn" (click)="closeCart()">
        <i class="fas fa-times"></i>
    </span>
    <div class="cart-body">
        <table>
            <tbody *ngFor="let item of cart.items">
                <tr>
                    <td>
                        <img class="cart-image" src="{{ item.image }}" alt="" />
                    </td>
                    <td>
                        <span class="cart-add">
                            <i class="fas fa-minus"></i>
                        </span>
                    </td>
                    <td>
                        <input
                            type="text"
                            name="quantity"
                            id="quantity"
                            class="cart-quantity"
                            value="{{ item.quantity }}"
                        />
                    </td>
                    <td>
                        <span class="cart-add">
                            <i class="fas fa-plus"></i>
                        </span>
                    </td>
                    <td>
                        <div class="cart-total">
                            {{ item.price * item.quantity }}$
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-sub-total">{{ cart.cart_sub_total }}$</div>
        <div class="cart-btns">
            <button class="clear-cart btn">Clear Cart</button>
            <button class="checkout-cart btn">Checkout</button>
        </div>
    </div>
</div>
