<div>
    <div *ngIf="cart && cart.totalQuantity > 0" class="cart-number">
        {{ cart.totalQuantity }}
    </div>
    <span class="cart-btn" (click)="openCart()">
        <i class="fas fa-shopping-cart"></i>
    </span>
</div>

<div id="cart" class="cart">
    <span class="close-btn" (click)="closeCart()">
        <i class="fas fa-times"></i>
    </span>
    <div *ngIf="cart && cart.items[0]; else elseBlock">
        <div class="cart-body">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>action</th>
                        <th>quantity</th>
                        <th>action</th>
                        <th>total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of cart.items">
                    <tr>
                        <td>
                            <img
                                class="cart-image"
                                src="{{ item.image }}"
                                alt=""
                            />
                        </td>
                        <td>
                            <span
                                class="cart-remove"
                                (click)="deletedCartItem.emit(item)"
                            >
                                <i class="fas fa-minus"></i>
                            </span>
                        </td>
                        <td>
                            <input
                                type="text"
                                name="quantity"
                                id="quantity"
                                class="cart-quantity"
                                value="{{ item.quantity }}"
                            />
                        </td>
                        <td>
                            <span
                                class="cart-add"
                                (click)="updatedCartItem.emit(item)"
                            >
                                <i class="fas fa-plus"></i>
                            </span>
                        </td>
                        <td>
                            <div class="cart-total">
                                {{ (item.price * item.quantity).toFixed(2) }}$
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="cart-total">
                <div><strong>Total:</strong></div>
                <div class="cart-price-total">
                    {{ cart.cart_sub_total.toFixed(2) }}$
                </div>
            </div>
            <div class="cart-btns">
                <button class="clear-cart btn" (click)="cartCleared.emit()">
                    Clear Cart
                </button>
                <button
                    class="checkout-cart btn"
                    (click)="showModal.emit(true)"
                >
                    Checkout
                </button>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="cart-body">
            <div class="cart-empty">
                Cart is Empty
            </div>
            <div class="cart-total">
                <div><strong>Total:</strong></div>
                <div class="cart-price-total">{{ cart.cart_sub_total }}$</div>
            </div>
            <div class="cart-btns">
                <button class="clear-cart btn">Clear Cart</button>
                <button
                    class="checkout-cart btn"
                    (click)="showModal.emit(true)"
                >
                    Checkout
                </button>
            </div>
        </div>
    </ng-template>
</div>
