<app-cart
    [cart]="$cart"
    (updatedCartItem)="updateCartItem($event)"
    (deletedCartItem)="deleteCartItem($event)"
    (cartCleared)="clearCart($event)"
></app-cart>
<div class="container">
    <div class="row">
        <div class="shopping-filters">
            <app-shopping-filters
                (filterByPrice)="filterByPrice($event)"
                (filterBySize)="filterBySize($event)"
            ></app-shopping-filters>
        </div>
        <div class="shopping-list">
            <app-shopping-list
                [products]="$products"
                (addedCartItem)="addCartItem($event)"
            ></app-shopping-list>
        </div>
    </div>
</div>
